{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import"],
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": "warn",
    "no-console": "warn",
    "no-eval": "error",
    "import/first": "error"
  }
}
